<h1>Welcome to the chat! {{user.userName}}</h1>  <a href="/products">Home</a>
<hr>
<br>
<br>
<div>
          <div>
              <input type="text" name="chat" id="input-chat">
         </div>
             <br>
             <br>
         <div>
                <p id="chat-messages"></p>
          </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketIndex.js"></script>
