<form action='/login' method="POST">
                  <label htmlFor="User">Nombre de usuario</label>
                  <input type="text" placeholder="Ingresa tu usuario" name="userName"/>

                  <label htmlFor="Password">Contraseña</label>
                  <input type="password" placeholder="Ingresa tu contraseña" name="password"/>
                   
                   
                  <button type="submit" value="submit">Login</button>
                  
                     
                  <a href='/register'>Registrarse</a>

</form>