    <form  action='/email/password-reset' method="GET">
                <label htmlFor="User">Introduce tu correo</label>
                <input type="email" placeholder="Ingresa tu correo" name="emailPasswordReset" required/>

                <button type="submit" value="submit">Enviar a tu correo</button>
        </form>            

