{{#if token}}
<form  action='/restore/password/{{userId}}/{{token}}' method="POST">
        <label htmlFor="Password">Introduce tu nueva contraseña</label>
        <input type="password" placeholder="Nueva contraseña" name="passwordReset1" required/><br/>

        <label htmlFor="Password">Introduce nuevamente tu nueva contraseña</label>
        <input type="password" placeholder="Nueva contraseña" name="passwordReset2" required/><br/>

        <button type="submit" value="submit">Cambiar contraseña</button>
</form> 

{{else}}
      <h1>Page not found / Error 404</h1>
{{/if}}      