<form className='registration-form' action="/api/users/64b2ce3f566b29ea4708c1f4/documents/" enctype="multipart/form-data" method="POST" >
          
         

          <label htmlFor="Thumbnail">Profile</label>
          <input type="file" placeholder="Subir Imagen" name="profile">
          <label htmlFor="Thumbnail">Product</label>
          <input type="file" placeholder="Subir Imagen" name="product">
          <label htmlFor="Thumbnail">Identificacion</label>
          <input type="file" placeholder="Subir Imagen" name="identificacion">
          <label htmlFor="Thumbnail">Comprobante de domicilio</label>
          <input type="file" placeholder="Subir Imagen" name="domicilio">
          <label htmlFor="Thumbnail">Comprobante de estado de cuenta</label>
          <input type="file" placeholder="Subir Imagen" name="cuenta">
          
          

          <button type="submit" value="submit">Subir imagene/s</button>


          <a href="/products"><p>Ir a Pagina principal</p></a>
           
</form>